/* footer */
footer {}
    /* footer main contents*/
    footer .w100 {}
        /* logo and main menu*/
        footer .w100 > div:first-child { padding: 50px 0; text-align: center; font-size: 1.05em; border-bottom: 1px solid #ddd;}
            footer .w100 > div:first-child > h2 { margin-bottom: 25px;}
                footer .w100 > div:first-child > ul > li { width: auto; display: inline-block; margin: 0 10px;}
                    footer .w100 > div:first-child > ul > li > a { color: #aaaaaa;}

        /* mail and copyright */
        footer .w100 > div:last-child { height: 17px; padding: 25px 0;}
            footer .w100 > div:last-child > p { width: auto;}
            footer .w100 > div:last-child * { color: #aaaaaa;}

            /* mail */
            footer .w100 > div:last-child > p:first-child { float: left;}
                footer .w100 > div:last-child > p:first-child i { display: inline;}

            /* copyright */
            footer .w100 > div:last-child > p:last-child { float: right;}