* { width: 100%; height: auto; box-sizing: border-box; font-family: "SquareR"; font-size: 0.97em; margin: 0; padding: 0; font-weight: normal; text-decoration: none; color: #222; list-style: none; z-index: 1;}
html, body { min-height: 100%;}

#wrap { height: 100%; min-height: 100%;}

header { }
#logo { width: 8%; height: auto; font-family="SquareEB"; color: white; }
header > .w100 { border-bottom: 1px solid rgba(255, 255, 255, 0.5); padding: 10px ; }
header > .w100 > * { vertical-align: middle; display: inline-block; margin-right: -4px; padding: 5px;}
header > .w100 > .mainMenu { width: 72%; height: auto; vertical-align: middle; }
header > .w100 > .mainMenu > li { width: auto; height: auto; display: inline-block; padding: 0px 10px; } 
header > .w100 > .mainMenu > li > a { font-family: "SquareB"; color: rgba(255, 255, 255, 0.8); font-size: 1.05em; transition: all .2s; }
header > .w100 > .mainMenu > li > a:hover { color : white; }
header > .w100 > .exMenu { width: 20%}
header > .w100 > .exMenu > a { width: auto; padding: 6px 18px; font-size: 0.92em; color: white; display: inline-block; border: 1px solid white; border-radius: 50px; transition: all .2s; margin-left : 6px}
header > .w100 > .exMenu > a:hover { background: white; color: #ff7b7b; }

section > .contents { width: 586px; text-align: center; margin: auto; }
section > .contents > h2 { padding-top : 110px; padding-bottom: 50px;}
section > .contents > h2 , span { color : white; font-size: 1.2em; }
section > .contents > h2 > span { font-weight: bold; }
#word { width: 550px; height: 45px; color: rgba(255, 255, 255, 0.8); background: rgba(255,255,255, 0); border: 1.5px solid white; border-radius: 50px; padding: 0px 15px; }
input::placeholder { color: rgba(255, 255, 255, 0.8); }

section > .contents > .category > ul { width: 100%; text-align: center; padding-top: 60px; }
section > .contents > .category > ul > li { width: calc(100% / 5); display: inline-block; margin-right: -4px; vertical-align: middle; text-align: center; cursor: pointer; }
section > .contents > .category > ul > li > div { width:60px; height: 60px; border: 1px solid white; border-radius: 60px; text-align: center; display: inline-block; position: relative; transition: all .3s;}
section > .contents > .category > ul > li > div > img { width: 55%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
section > .contents > .category > ul > li > div > img:last-child { opacity: 0; transition: all .3s;}
section > .contents > .category > ul > li > p { color: white; padding-top: 10px; }
section > .contents > .category > ul > li > div:hover { background: white;}
section > .contents > .category > ul > li > div:hover > img:last-child { opacity: 1;}
section > .contents > .price { }
section > .contents > .tag > ul { text-align: center; }
section > .contents > .tag > ul { text-align: center; padding-top: 30px;}
section > .contents > .tag > ul > li { min-width: 100px; width: auto; display: inline-block; border: 1px solid white; padding: 10px 20px; color: white; border-radius: 40px; margin: 5px; }
section > .contents > .tag> ul > li:hover { color: #ff7b7b; background: white; transition: all .3s; }