* { width: 100%; height: auto; margin: 0; padding: 0; list-style: none; color: #333; text-decoration: none; box-sizing: border-box; font-family: "SquareR"; font-size: 0.98em; font-weight: normal;}
html, body { height: 100%; min-height: 100%;}

/* width */
.w100 { width: 1080px; margin: 0 auto;}

/* color */
.red { color: #eb6363;}
.brown { color: #432a2c;}
.white { color: white;}
.gradient { background: linear-gradient(to bottom, #ff8a6b, #eb6363);}

/* font */
.font_EB { font-family: "SquareEB";}
.font_B { font-family: "SquareB";}
.font_R { font-family: "SquareR";}
.font_L { font-family: "SquareL";}