/* page/ranking/index.php */
#sub.ranking { }
    /* ranking contents */
    #sub.ranking > .contents {}
        .searchList .w100 {}
        .searchList .w100 > * { display: inline-block; margin-right: -4px; vertical-align: top;}

        /* left filtering contents */
        .searchList .w100 > .filter { width: 28%; margin-right: calc(4% - 4px); background: #f7f7f7; border: 1px solid #ddd; padding: 40px 20px; text-align: center;}
            .searchList .w100 > .filter > .search { }
                .searchList .w100 > .filter > .search #word { height: 35px; border-radius: 50px; border: 1px solid #ccc; background: transparent; padding: 0 10px; transition: all .3s;}
                .searchList .w100 > .filter > .search #word::placeholder { color: #ccc;}
                .searchList .w100 > .filter > .search #word:focus { border: 1px solid #eb6363;}

            /* filter > category */
            .searchList .w100 > .filter > .category { margin-top: 30px;}
                .searchList .w100 > .filter > .category > ul { }
                    .searchList .w100 > .filter > .category > ul > li { display: inline-block; width: 30%; margin: 10px;}
                        .searchList .w100 > .filter > .category > ul > li * { transition: all .3s;}
                        .searchList .w100 > .filter > .category > ul > li > .img { width: 60px; height: 60px; display: inline-block; border-radius: 100px; border: 1px solid #ddd; padding: 14px 0; cursor: pointer;}
                        .searchList .w100 > .filter > .category > ul > li.select .img { border: 1px solid #eb6363;}
                        .searchList .w100 > .filter > .category > ul > li:nth-child(2) .img { padding: 16px 0;}
                        .searchList .w100 > .filter > .category > ul > li:nth-child(4) .img { padding: 20px 0;}
                            .searchList .w100 > .filter > .category > ul > li > .img > img { width: 55%; filter: grayscale(1); opacity: 0.5;}
                            .searchList .w100 > .filter > .category > ul > li.select .img img { filter: grayscale(0); opacity: 1;}
                        .searchList .w100 > .filter > .category > ul > li > p { color: #777; margin-top: 10px;}
                            .searchList .w100 > .filter > .category > ul > li.select p { color: #eb6363;}

            /* filter > price */
            .searchList .w100 > .filter > .price {}

            /* filter > tag */
            .searchList .w100 > .filter > .tag { margin-top: 20px;}
                .searchList .w100 > .filter > .tag > ul { }
                    .searchList .w100 > .filter > .tag > ul > li { width: auto; min-width: 60px; display: inline-block;  font-size: 1.05em; color: #aaa; border: 1px solid #ddd; padding: 8px 15px; border-radius: 100px; margin: 3px; cursor: pointer; transition: all .3s;}
                    .searchList .w100 > .filter > .tag > ul > li.select { color: #eb6363; border-color: #eb6363;}

            /* filter submit link */
            .searchList .w100 > .filter > .submit { border-top: 1px solid #ddd; margin-top: 40px; padding-top: 40px;}
                .searchList .w100 > .filter > .submit a { color: #777; border: 1px solid #ccc; padding: 10px 30px; border-radius: 100px; transition: all .3s;}
                .searchList .w100 > .filter > .submit a:hover { background: #eb6363; color: white; border-color: #eb6363;}

        /* right ranking contents */
        .searchList .w100 > .list { width: 68%; font-size: 1.1em; }
            .searchList .w100 > .list > ul { }
                .searchList .w100 > .list > ul > li { background: white; border: 1px solid #eee; margin-bottom: 20px; transition: all 0.3s; }
                .searchList .w100 > .list > ul > li:hover { box-shadow: 0px 0px 10px rgba(0,0,0,0.1);}
                    .searchList .w100 > .list > ul > li > div { display: inline-block; margin-right: -4px; vertical-align: top;}
                    
                    /* product image */
                    .searchList .w100 > .list > ul > li > div.img { width: 147px; height: 147px; position: relative; border-right: 1px solid #eee; overflow: hidden;}
                    .brand .searchList .w100 > .list > ul > li > div.img { height: 100px;}
                        .searchList .w100 > .list > ul > li > div.img > span { background: #eb6363; color: white; width: 25px; height: 25px; line-height: 25px; display: inline-block; text-align: center; font-family: "SquareB"; position: absolute; top: 0; left: 0; z-index: 555;}
                        .searchList .w100 > .list > ul > li > div.img > img { width: 70%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
                        .brand .searchList .w100 > .list > ul > li > div.img > img { width: 100%;}

                    /* product information */
                    .searchList .w100 > .list > ul > li > div.contents { width: calc(100% - 147px); height: 147px; padding: 20px;}
                    .brand .searchList .w100 > .list > ul > li > div.contents { height: 100px; padding: 20px;}
                        .searchList .w100 > .list > ul > li > div.contents > div { display: inline-block; vertical-align: top; margin-right: -4px;}
                        .searchList .w100 > .list > ul > li > div.contents > div.left { width: 80%;}
                            .searchList .w100 > .list > ul > li > div.contents > div.left > h3 { font-size: 1.3em; line-height: 20px;}
                                .searchList .w100 > .list > ul > li > div.contents > div.left > h3 > span { }
                                .searchList .w100 > .list > ul > li > div.contents > div.left > h3 > span.bar { display: inline-block; width: 10px; height: 20px; background: #eb6363;}
                                .searchList .w100 > .list > ul > li > div.contents > div.left > h3 > span.red { margin-right: 5px;}
                            .searchList .w100 > .list > ul > li > div.contents > div.left > p { margin: 22px 0; color: #777;}
                            .searchList .w100 > .list > ul > li > div.contents > div.left > .tag { }
                            .brand .searchList .w100 > .list > ul > li > div.contents > div.left > .tag {margin-top: 10px; }
                                .searchList .w100 > .list > ul > li > div.contents > div.left > .tag > li { display: inline-block; width: auto; min-width: 50px; text-align: center; padding: 7px 15px; margin-right: 2px; margin-left: -2px; }

                        /* product summary (like, subscribe, # of comment) */
                        .searchList .w100 > .list > ul > li > div.contents > div.right { width: 20%; text-align: center; padding: 17px 0; border-left: 1px solid #eee;}
                        .brand .searchList .w100 > .list > ul > li > div.contents > div.right { padding: 5px 0;}
                            .searchList .w100 > .list > ul > li > div.contents > div.right > p { margin: 8px 0;}
                                .searchList .w100 > .list > ul > li > div.contents > div.right > p > * { color: #aaa;}
                                .searchList .w100 > .list > ul > li > div.contents > div.right > p i { display: inline; }
                                .searchList .w100 > .list > ul > li > div.contents > div.right > p span { width: 30px; display: inline-block;}

#sub.rankingView {}
    #sub.rankingView > .contents .w100 > .summary { }
        #sub.rankingView > .contents .w100 > .summary > div.left { width: 300px; margin-right: calc(4% - 4px);}
            #sub.rankingView > .contents .w100 > .summary > div.left > .img { width: 300px; height: 300px; position: relative; border: 1px solid #eee;}
                #sub.rankingView > .contents .w100 > .summary > div.left > .img img { width: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
            #sub.rankingView > .contents .w100 > .summary > div.left > .brand { margin-top: 10px;}
                #sub.rankingView > .contents .w100 > .summary > div.left > .brand img { width: 50px;}
                #sub.rankingView > .contents .w100 > .summary > div.left > .brand h3 { width: auto; line-height: 50px; margin: 0 10px; font-size: 1.3em;}
                #sub.rankingView > .contents .w100 > .summary > div.left > .brand a { width: auto; line-height: 50px; text-decoration: underline; color: #eb6363;}
            #sub.rankingView > .contents .w100 > .summary > div.left > .tag {}
                #sub.rankingView > .contents .w100 > .summary > div.left > .tag li { padding: 8px 15px; margin-right: 3px;}

    #sub.rankingView > .contents .w100 > .summary > div.right { width: calc(96% - 300px);}
        #sub.rankingView > .contents .w100 > .summary > div.right > h3 { width: 100%; height: 25px; line-height: 25px; font-size: 1.5em; position: relative; margin-bottom: 20px;}
            #sub.rankingView > .contents .w100 > .summary > div.right > h3 p { color: #999; position: absolute; top: 0; right: 0; width: auto; font-size: 0.65em;}
        #sub.rankingView > .contents .w100 > .summary > div.right > div { font-size: 1.1em;}
        #sub.rankingView > .contents .w100 > .summary > div.right > .info { border-top: 1px solid #ddd; margin-top: 30px;}
            #sub.rankingView > .contents .w100 > .summary > div.right > .info > li { border-bottom: 1px solid #ddd; padding: 30px 0;}
            #sub.rankingView > .contents .w100 > .summary > div.right > .info > li:last-child { border: none;}
                #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > h4 { font-size: 1.3em; font-family: "SquareB"; margin-bottom: 20px;}
                #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul { }
                #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.price { margin-bottom: 30px;}
                    #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.price > li { line-height: 20px; margin-bottom: 3px; }
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.price > li > label { font-size: 1.2em;}
                            #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.price > li > label span { margin-left: 10px; }
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.price > li > input { margin-top: 3px; margin-left: 30px;}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li:first-child > div a:hover { border-color: #21cb01; color: #1ebf00; background: white;}

                #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.list { }
                    #sub.rankingView > .contents .w100 > .summary > div.right > .info > li.foldable.fold *:not(h4) { display: none;}
                    #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.list > li { text-align: center; width: 100px; margin: 10px 0;}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.list > li > div { width: 60px; height: 60px; display: inline-block; border-radius: 100px; background: white; position: relative;}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li.table > table { border-collapse: collapse; border-top: 2px solid #eee; border-bottom: 2px solid #eee;}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li.table > table td { font-size: 1.1em; padding: 10px; border-bottom: 1px solid #eee; line-height: 16px; }
                            #sub.rankingView > .contents .w100 > .summary > div.right > .info > li.table > table td i { display: inline; font-size: 1.2em; color: #eb6363;  margin-left: 3px;}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li.table > table .td1 { border-right: 1px solid #eee; width: 20%;  font-family: "SquareB";}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li.table > table td:not(.td1) { color: #555;}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li.table > table .td2 {  border-right: 1px solid #eee; width: 15%;}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li.table > table .td3 { }
                        .nutrientChart { border-radius: 100px; overflow: hidden; margin-bottom: 10px;}
                        .nutrientChart > li { display: inline-block; margin-right: -4px; width: auto; text-align: center; padding: 5px 0;}
                            .nutrientChart * { color: white;}
                            .nutrientChart > li:nth-child(1) { background: #eb6363;}
                            .nutrientChart > li:nth-child(2) { background: #f7944b;}
                            .nutrientChart > li:nth-child(3) { background: #aebe34;}
                            .nutrientChart > li:nth-child(4) { background: #57b241;}
                            .nutrientChart > li:nth-child(5) { background: #41a5b2;}
                            .nutrientChart > li:nth-child(6) { background: #4179b2;}
                            .nutrientChart > li:nth-child(7) { background: #de61a9;}
                            .nutrientChart > li:nth-child(8) { background: #ff7575;}
                                .nutrientChart > li span {}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li.icon > ul.list > li.active > div { border: 1px solid #eb6363;}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li.icon > ul.list > li > div {border: 1px solid #ddd;}
                            #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.list > li > div img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); filter: grayscale(1); opacity: 0.5;}
                            #sub.rankingView > .contents .w100 > .summary > div.right > .info > li.icon > ul.list > li > div img { width: 50%;}
                            #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.list > li.active > div img { filter: grayscale(0); opacity: 1;}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.list > li > p { margin-top: 8px; font-size: 1em; line-height: 13px; color: #777;}
                        #sub.rankingView > .contents .w100 > .summary > div.right > .info > li > ul.list > li.active > p { color: #333;}

.review { margin-top: 50px; }
.review h4 { font-size: 1.6em; font-family: "SquareB";}
    .review > div {}
    .review > .left { width: 300px; margin-right: calc(4% - 4px); background: #fafafa; border: 1px solid #ddd; padding: 30px 20px;}
        .review > .left > div {}
        .review > .left > div.title { position: relative; margin-bottom: 30px;}
            .review > .left > div.title > h4 { font-size: 1.3em;}
                .review > .left > div.title > h4 > i { margin-right: 3px;}
                    .review > .left > div.title > h4 > span {}
            .review > .left > div.title > p { position: absolute; top: 3px; right: 0; width: auto; font-size: 1.1em;}
                .review > .left > div.title > p i { margin-right: 3px;}
                .review > .left > div.title > p span {}
        .review > .left > ul {}
            .review > .left > ul > li { margin-bottom: 20px;}
                .review > .left > ul > li > h5 { font-size: 1.1em; margin-bottom: 10px; padding-left: 5px;}
                .review > .left > ul > li > ul {}
                    .review > .left > ul > li > ul > li {}
        .review > .left > div.submit { border-top: 1px solid #ddd; padding-top: 30px; text-align: center; }
            .review > .left > div.submit a {background: #eb6363; color: white; padding: 10px 40px; border-radius: 100px; display: inline-block; width: auto;}
    .review > .right { width: calc(96% - 300px); padding: 30px 0;}
        .review > .right > div { margin-bottom: 50px;}
            .review > .right > div.rating {}
                .review > .right h4 { margin-bottom: 30px;}
                    .review > .right .starRating { font-size: 0.7em; vertical-align: middle; margin-left: 5px;}
                        .review > .right .starRating i { vertical-align: middle; margin-right: 2px; color: #ffb100;}
                .review ul.reviewRating {}
                    .review ul.reviewRating > li { width: calc((100% - (3% * 2)) / 3); margin-right: calc(3% - 4px); margin-bottom: 30px;}
                    .review ul.reviewRating > li:nth-child(3n) { margin-right: -4px;}
                        .review ul.reviewRating > li > div.title { position: relative;}
                            .review ul.reviewRating > li > div.title h5 { font-size: 1.2em;}
                            .review ul.reviewRating > li > div.title span { position: absolute; top: 50%; right: 0; transform: translate(0, -50%); display: inline-block; width: auto; font-size: 1em;}
                        .review ul.reviewRating > li > div.bar { background: #ddd; height: 1px; position: relative; margin-top: 10px;}
                            .review ul.reviewRating > li > div.bar div { background: #aaa; position: absolute; top: 50%; left: 0; transform: translate(0, -50%); width: 30%; border-radius: 100px; height: 4px;}
                            .review ul.reviewRating > li.top > div.bar div { background: #eb6363;}
            .review > .right > div.reviewList { }
                .review > .right > div.reviewList > div { position: relative;}
                    .review > .right > div.reviewList > div > h4 { }
                    .review > .right > div.reviewList > div > select { position: absolute; top: 50%; right: 0; transform: translate(0, -50%); display: inline-block; width: auto; padding: 10px;}
                        .review > .right > div.reviewList > div > select option { padding: 10px;}
                .review > .right > div.reviewList > ul {}
                    .review > .right > div.reviewList > ul > li { border-top: 1px solid #ddd; padding: 30px 10px; }
                        .review > .right > div.reviewList > ul > li > .profile { position: relative; margin-bottom: 30px;}
                            .review > .right > div.reviewList > ul > li > .profile > div {}
                            .review > .right > div.reviewList > ul > li > .profile > .profileImage { width: 45px; height: 45px; border-radius: 100px; border: 1px solid #ddd;}
                            .review > .right > div.reviewList > ul > li > .profile > .profileInfo { width: calc(100% - 45px - 10px); margin-left: 10px;}
                                .review > .right > div.reviewList > ul > li > .profile > .profileInfo > p { font-size: 1.2em; margin-bottom: 5px;}
                                    .review > .right > div.reviewList > ul > li > .profile > .profileInfo > p > span.starRating { font-size: 0.9em;}
                                        .review > .right > div.reviewList > ul > li > .profile > .profileInfo > p > span.starRating i {}
                                .review > .right > div.reviewList > ul > li > .profile > .profileInfo > ul {}
                                    .review > .right > div.reviewList > ul > li > .profile > .profileInfo > ul > li { padding: 5px 10px; min-width: 40px;}
                                .review > .right > div.reviewList > ul > li > .profile > .profileInfo > span { position: absolute; right: 0; top: 0; display: inline-block; width: auto; font-size: 1.1em; color: #aaa;}
                        .review > .right > div.reviewList > ul > li > .image { margin-bottom: 30px;}
                            .review > .right > div.reviewList > ul > li > .image > ul {}
                                .review > .right > div.reviewList > ul > li > .image > ul > li { width: 120px; height: 120px; background-position: center !important; background-size: cover !important; margin-right: 10px; border: 1px solid #eee;}
                        .review > .right > div.reviewList > ul > li > p { font-size: 1.1em; line-height: 20px; margin-bottom: 30px;}
                        .review > .right > div.reviewList > ul > li > .ref { font-size: 1.1em; text-align: right; line-height: 35px; color: #aaa;}
                            .review > .right > div.reviewList > ul > li > .ref a { margin-left: 5px; }
                            .review > .right > div.reviewList > ul > li > p span { background: #eb6363; color: white; padding: 5px 10px; border-radius: 3px; font-size: 0.9em; border: 1px solid #e56161; margin-right: 5px;}
                        .review > .right > div.reviewList > ul > li > .reviewRating {}
                        .review > .right > div.reviewList > ul > li.naver {}

/* page/event/index.php */
#sub.ranking > .contents .w100 > .list { padding-top: 30px; }
#sub.ranking > .contents .w100 > .list > .item { width: 50%; padding-bottom: 20px; }
#sub.ranking > .contents .w100 > .list > .item:nth-child(odd) { padding-right: 20px; }
#sub.ranking > .contents .w100 > .list > .item:nth-child(even) { padding-left: 20px; }
#sub.ranking > .contents .w100 > .list > .item > div:first-child { border: 1px solid #bbb; width: 100%; height: 200px; color: #aaa; text-align: center; line-height: 200px; cursor: pointer; background: #eee}
#sub.ranking > .contents .w100 > .list > .item > div:first-child:hover { box-shadow: 0px 0px 10px rgba(0,0,0,0.1); transition: all 0.3s; }
#sub.ranking > .contents .w100 > .list > .item > div:last-child { padding: 15px 0px; }
#sub.ranking > .contents .w100 > .list > .item > div:last-child > h5 { font-family: SquareB; font-size: 1.3em; vertical-align: middle; cursor: pointer; padding-left: 5px; }
#sub.ranking > .contents .w100 > .list > .item > div:last-child > div { float: right; vertical-align: middle; padding-right: 5px; font-size: 0.97em; }

/* page/brand/index.php */
#sub.brand > .searchList .w100 > .list > ul > li > .contents > .left > .detail { font-size: 0.8em; color: #999; padding-top: 5px; margin-bottom: -4px; }

/* page/board/index.php */
#sub.community > .contents .w100 > .list { width: 25%; margin-right: -4px; }
#sub.community > .contents .w100 > .list > h3 { font-family: SquareB; font-size: 2em; text-align: left; color: #666; padding-bottom: 30px; padding-left: 10px; }
#sub.community > .contents .w100 > .list > ul > li { border: 1px solid #ccc; padding: 15px; font-size: 0.97em; background: #fff; cursor: pointer; }
#sub.community > .contents .w100 > .list > ul > li:first-child { border-bottom: none; }
#sub.community > .contents .w100 > .list > ul > li > div, i { vertical-align: middle; color: #555; }
#sub.community > .contents .w100 > .list > ul > li > i { float: right; }
#sub.community > .contents .w100 > .list > ul > li.active { background: #f7f5f8; }
#sub.community > .contents .w100 > .list > ul > li.active i { color: #eb6363; }


#sub.community > .contents .w100 > .board { width: 75%; margin-right: -4px; padding-left: 30px; }
#sub.community > .contents .w100 > .board > h5 { font-size: 1.8em; font-family: SquareB; color: #555; padding-right: 15px; vertical-align: bottom; }
#sub.community > .contents .w100 > .board > div { color: #999; font-size: 0.9em; vertical-align: bottom; }
#sub.community > .contents .w100 > .board > table { margin-top: 33px; border-collapse: collapse; width: 100%; margin-bottom: 15px; }
#sub.community > .contents .w100 > .board > table th { border-top: 2px solid #eb6363; border-bottom: 1px solid #ccc; text-align: center; line-height: 50px; width: 5%; }
#sub.community > .contents .w100 > .board > table th:nth-child(2) { width: 30%; }
#sub.community > .contents .w100 > .board > table td { border-bottom: 1px solid #ccc; width: 100px; text-align: center; line-height: 35px; }
#sub.community > .contents .w100 > .board > table td:nth-child(2) { text-align: left; }
#sub.community > .contents .w100 > .board > a {  }
#sub.community > .contents .w100 > .board > a:last-child { float: right; border: 1px solid #eb6363; background: #eb6363; color: white; width: auto; padding: 10px 20px; border-radius: ; font-size: 0.9em; }

/* page/board/view.php */
#sub.community > .contents .w100 > .view > .title { padding-bottom: 30px; }
#sub.community > .contents .w100 > .view > .title > h5 { font-size: 1.8em; font-family: SquareB; color: #555; padding-right: 15px; vertical-align: bottom; }
#sub.community > .contents .w100 > .view > .title > div { color: #999; font-size: 0.9em; vertical-align: bottom; }
#sub.community > .contents .w100 > .view { width: 75%; margin-right: -4px; padding-left: 30px; }
#sub.community > .contents .w100 > .view > div:nth-child(2) > div { width: 100%; border-bottom: 1px solid #F7F5F8; }
#sub.community > .contents .w100 > .view > div:nth-child(2) > div > div { padding: 13px 5px; }
#sub.community > .contents .w100 > .view > div:nth-child(2) > div > div:first-child { background: #F7F5F8; min-width: 100px; font-family: SquareB; }
#sub.community > .contents .w100 > .view > div:nth-child(2) > .wdate { width: 50%; }
#sub.community > .contents .w100 > .view > div:nth-child(2) > .view { width: 50%; }
#sub.community > .contents .w100 > .view > div:nth-child(2) > .title { border-top: 2px solid #eb6363; margin-top: 4px; }
#sub.community > .contents .w100 > .view > div:nth-child(2) > div:last-child { padding: 5px; min-height: 200px; border-bottom: 1px solid #eb6363; margin-bottom: 20px; line-height: 20px; white-space: pre-line; font-size: 1.1em; }
#sub.community > .contents .w100 > .view > a { width: auto; background: #eb6363; border-radius: 20px; color: white; float: right; cursor: pointer; padding: 7px 15px; border: 1px solid #eb6363; margin-left: 10px;}

/* page/board/write.php */
#sub.community > .contents .w100 > .board > .write { margin-top: 30px; padding-top: 20px; border-top: 2px solid #eb6363; }
#sub.community > .contents .w100 > .board > .write > form > ul > li { font-size: 1.5em; font-family: SquareB; padding: 5px 5px; } 
#sub.community > .contents .w100 > .board > .write > form > ul > li > input { font-size: 0.8em; padding: 5px; order: 1px solid #ccc; margin: 10px 0px; }
#sub.community > .contents .w100 > .board > .write > form > ul > li:last-child > textarea { font-size: 0.8em; margin: 10px 0px; padding: 5px; height: 200px; }
#sub.community > .contents .w100 > .board > .write > form > ul > li:last-child { border-bottom: 1px solid #eb6363; margin-bottom: 20px; }
#sub.community > .contents .w100 > .board > .write > form > button { width: auto; background: #eb6363; border: 1px solid #eb6363; color: white; cursor: pointer; float: right; padding: 7px 15px; border-radius: 20px; }